# Generated website directory
_site/

# Jekyll cache & metadata
.jekyll-cache/
.jekyll-metadata

# Local environment
vendor/
.bundle/

# Notes graph metadata
_includes/notes_graph.json

# Generated tags
_tags/

# MacOS System Files
.DS_Store
deployhq_build.md
