:root {
  --bg-color: rgb(234, 220, 201);
  --text-color: rgb(32, 30, 26);
  --link-color: rgb(49, 57, 251);
  --link-hover-color: rgb(32, 30, 26);
  --selection-bg-color: rgb(49, 57, 251);
  --blockquote-bg-color: rgba(236, 237, 254);
  --selection-text-color: white;
  --heading-font-family: "avenir next", avenir, -apple-system,
    blinkmacsystemfont, neue-haas-unica, sans-serif;
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body * + *,
ul {
  margin-top: 1em;
}

body {
  font-family: -apple-system, blinkmacsystemfont, neue-haas-unica, sans-serif;
  font-size: 115%;
  font-weight: 400;
  line-height: 1.5;
  padding: 1em;
  word-wrap: break-word;
  hyphens: auto;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

footer {
  font-size: 0.75em;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-size: inherit;
  font-weight: 700;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3,
h4,
h5,
h6 {
  font-size: 1em;
}

p {
  margin-bottom: 0;
}

pre,
code {
  background: var(--text-color);
  color: var(--bg-color);
}

pre {
  padding: 1em;
  overflow: scroll;
}
code {
  border-radius: 0.15em;
  padding: 0.15em 0.3em;
  overflow: scroll;
}

pre > code {
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  background: inherit;
}

.dinkus {
  text-align: center;
  font-family: serif;
}

a {
  color: var(--link-color);
  transition: color 0.25s ease-in-out;
}

a:hover {
  color: var(--link-hover-color);
}

a[href="https://bearblog.dev"]
{
  text-decoration: none;
}
a[href^="https://"]:not([href="https://bearblog.dev"])
{
  margin-right: 0.75em;
}

a[href^="https://"]:not([href="https://bearblog.dev"])::after
{
  content: "↗";
  position: absolute;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote {
  border-left: 0.15em solid var(--link-color);
  background: var(--blockquote-bg-color);
  padding: 1em;
  color: var(--text-color);
}

::selection {
  background: var(--selection-bg-color);
  color: var(--selection-text-color);
  text-shadow: none;
}

.invalid-link {
  color: rgb(132, 137, 251);
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}

.invalid-link-brackets {
  color: rgb(132, 137, 251);
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}

@media (min-width: 40em) {
  body {
    font-size: 130%;
  }
}

@media (min-width: 80em) {
  body {
    font-size: 150%;
  }

  section {
    width: 45em;
  }

  article {
    display: grid;
    grid-template-columns: 2fr 1fr;   
    grid-template-areas: "content sidebar";
  }

  article header {
    grid-column: 1;
    grid-row: 1;
  }

  article section {
    grid-column: "content";
    grid-row: 2;
  }

  article aside {
    grid-column: "sidebar";
    grid-row: 2;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--bg-color);
    background: var(--text-color);
  }

  a {
    color: var(--bg-color);
  }

  a:hover {
    color: var(--bg-color);
  }

  pre,
  code {
    background: var(--bg-color);
    color: var(--text-color);
  }

  blockquote {
    border-left: 0.15em solid  rgb(159, 149, 136);
    background: rgb(46, 43, 38);
    color: var(--bg-color);
  }

  .invalid-link,
  .invalid-link-brackets {
    color: rgb(159, 149, 136);
  }
}

#upvote-form {
  display: block !important;
}

.blog-posts {
  padding: 0;
  list-style: none;
}

.blog-posts a {
  margin-top: 0;
}

.blog-posts li {
  display: flex;
  max-width: 50em;
}

.blog-posts li span {
  flex-shrink: 0;
}

.blog-posts li time {
  margin-right: 0.9em;
}

.tags {
  display: none;
}

.title,
nav {
  display: inline-block;
}
.footnotes {
  font-size: 0.85em;
}
.footnotes ol {
  padding: 0 1em;
}

.backlink-box {
  background: var(--blockquote-bg-color);
  padding: 1em;
  border-radius: 3px;
}

