:root {
  --bg-color: rgb(234, 220, 201);
  --text-color: rgb(32, 30, 26);
  --link-color: rgb(49, 57, 251);
  --link-hover-color: rgb(32, 30, 26);
  --selection-bg-color: rgb(49, 57, 251);
  --blockquote-bg-color: rgba(236, 237, 254);
  --selection-text-color: white;
  --heading-font-family: "avenir next", avenir, -apple-system,
    blinkmacsystemfont, neue-haas-unica, sans-serif;
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h4,
h5,
h6 {
  line-height: 1;
}

body * + *,
ul {
  margin-top: 24px;
}

body {
  font-family: -apple-system, blinkmacsystemfont, neue-haas-unica, sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  padding: 1em;
  word-wrap: break-word;
  hyphens: auto;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

h1 {
  line-height: 2.5;
}

h2 {
  line-height: 2.25;
}

h3 {
  line-height: 2.125;
}

footer {
  margin-bottom: 0.5em;
  color: inherit;
}

footer hr {
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
  font-size: inherit;
  font-weight: 700;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3,
h4,
h5,
h6 {
  font-size: 1em;
}

p {
  margin-bottom: 0;
}

pre,
code {
  background: var(--text-color);
  color: var(--bg-color);
}

pre {
  padding: 1em;
  overflow: scroll;
}
code {
  border-radius: 0.15em;
  padding: 0.15em 0.3em;
  overflow: scroll;
}

pre > code {
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  background: inherit;
}

.dinkus {
  text-align: center;
  font-family: serif;
}

a {
  color: var(--link-color);
  transition: color 0.25s ease-in-out;
}

a:hover {
  color: var(--link-hover-color);
}

/* SVG colors are based on theme values */
a[href^="https://"] {
  background-image: url('data:image/svg+xml,<svg fill="rgb(49, 57, 251)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g><path d="M18 7a1 1 0 0 0-1-1H9a1 1 0 0 0 0 2h5.6l-8.3 8.3a1 1 0 0 0 0 1.4 1 1 0 0 0 1.4 0L16 9.4V15a1 1 0 0 0 1 1 1 1 0 0 0 1-1z" /></g></svg>');
  background-position: right 30%;
  background-size: 0.75em;
  padding-right: 0.75em;
  background-repeat: no-repeat;
}

a[href^="https://"]:hover {
  background-image: url('data:image/svg+xml,<svg fill="rgb(32, 30, 26)" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g><path d="M18 7a1 1 0 0 0-1-1H9a1 1 0 0 0 0 2h5.6l-8.3 8.3a1 1 0 0 0 0 1.4 1 1 0 0 0 1.4 0L16 9.4V15a1 1 0 0 0 1 1 1 1 0 0 0 1-1z" /></g></svg>');
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote {
  border-left: 0.15em solid var(--link-color);
  background: var(--blockquote-bg-color);
  padding: 1em;
  color: var(--text-color);
}

hr {
  border-color: var(--text-color);
  border-width: 0.5px;
  opacity: 0.1;
  margin: 1em 0;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

::selection {
  background: var(--selection-bg-color);
  color: var(--selection-text-color);
  text-shadow: none;
}

.invalid-link {
  color: rgb(132, 137, 251);
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}

.invalid-link-brackets {
  color: rgb(132, 137, 251);
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: help;
}

.backlink-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1em;
}

.backlink-box {
  margin: 0;
  background: var(--blockquote-bg-color);
  padding: 1em;
  border-radius: 3px;
}

.status {
  width: fit-content;
  /* border: 0.1em solid var(--link-color); */
  background: var(--blockquote-bg-color);
  padding: 1em;
  color: var(--text-color);
  font-family: monospace;
}

.time {
  font-family: monospace;
  font-size: 1em;
  opacity: 0.85;
}

.list-time {
  font-variant-numeric: tabular-nums;
}

.note-link {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 1em;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: var(--blockquote-bg-color);
}

.note-link:last-child {
  border-bottom: none;
}

.tags { 
  width: calc(100vw - 2em);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.tag {
  flex-shrink: 0;
  background: var(--blockquote-bg-color);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  margin: 0 0.5em 0.5em 0;
  font-family: monospace;
}

.tags-row {
  display: inline;
  width: auto;
  flex-shrink: 0;
  margin-top: 0;
}

.tags-row .tag {
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0.5em;
}

.note-link .tags-row {
  margin-top: 1em;
}

.note-link .tags-row .tag {
  margin-left: 0;
}

@media (min-width: 40em) {
  body {
    font-size: 125%;
  }

  .note-link {
    flex-direction: row;
  }
  .backlink-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .tags {
    flex-wrap: wrap;
    overflow: hidden;
  }

  .tags .tag {
    margin-bottom: 0.5em;
  }

  a + .tags {
    margin-left: 0.5em;
    margin-top: 0;
  }
}

@media (min-width: 80em) {
  body {
    font-size: 150%;
  }

  article {
    display: grid;
    column-gap: 1.5em;
    grid-template-columns: 66% 33%;   
    grid-template-areas: "content sidebar";
  }

  article section {
    grid-column: "content";
    grid-row: 1;
  }

  article aside {
    margin-top: 0;
    grid-column: "sidebar";
    grid-row: 1;
  }

  hr {
    left: 49%;
    right: 66%;
    margin-left: -33vw;
    margin-right: -66vw;
  }

  .backlink-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .backlink-box {
    margin-right: 1em;
    /* font-size: 75%; */
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--bg-color);
    background: var(--text-color);
  }

  a {
    color: var(--bg-color);
  }

  a:hover {
    color: var(--bg-color);
  }
  a[href^="https://"],
  a[href^="https://"] {
    background-image: url('data:image/svg+xml,<svg fill="rgb(234, 220, 201" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g><path d="M18 7a1 1 0 0 0-1-1H9a1 1 0 0 0 0 2h5.6l-8.3 8.3a1 1 0 0 0 0 1.4 1 1 0 0 0 1.4 0L16 9.4V15a1 1 0 0 0 1 1 1 1 0 0 0 1-1z" /></g></svg>');
  }
  pre,
  code {
    background: var(--bg-color);
    color: var(--text-color);
  }

  blockquote {
    border-left: 0.15em solid  rgb(159, 149, 136);
    background: rgb(46, 43, 38);
    color: var(--bg-color);
  }

  .status,
  .backlink-box {
    color: var(--bg-color);
  }

  .backlink-box,
  .status,
  .tag {
    background: rgb(46, 43, 38);
  }

  .invalid-link,
  .invalid-link-brackets {
    color: rgb(159, 149, 136);
  }

  .note-link {
    border-bottom-color: rgb(46, 43, 38);
  }

  hr {
    border-color: var(--bg-color);
  }
}

.title,
nav {
  display: inline-block;
}
.footnotes {
  font-size: 0.85em;
}
.footnotes ol {
  padding: 0 1em;
}