---
layout: default
---

<article>
  <section>
    <header>
      <h1>{{ page.name | remove: '.md' }}</h1>
      <p class="time">
      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}Last updated {{
        page.last_modified_at | date: "%B %-d, %Y" }}{% endif %}</time>{% if page.category != null %} &ndash;
      {{page.category}}{% endif %}
      </p>
    </header>

    {{ content }}
{% include related-notes.html %}
</div>
    </section>

<aside>
  {% if page.backlinks.size > 0 %}
  <h5>Mentions</h5>
  <div class="backlink-container">
    {% for backlink in page.backlinks %}
    <div class="backlink-box">
      <a href="{{ backlink.url }}">{{ backlink.name | remove: '.md' }}</a>
      <p>{{ backlink.content | strip_html | regex_replace: '#.\s+(.*)', '' | markdownify | strip_html | truncatewords: 18 }}
      </p>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</aside>
</article>

{%- if site.show_notes_graph -%}
<section>
  <p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>
  {% include notes-graph.html %}
  </section>
{%- endif -%}
