---
layout: default
---

<article>
  <section>
    <header>
      <h2>
        {{ page.title }}
      </h2>
      <div class="tags">
        {% for tag in page.tags %}
        {% unless tag == 'notes' %}
        {% assign site_tag = site.tags | where: "slug", tag | first %}
        <a class="tag" href="/tags/{{ site_tag.slug }}" target="_self">{{ site_tag.title }}</a>
        {% endunless %}
        {% endfor %}
      </div>
      {%if page.status %}
      <div class="status">
        <a href="/epistemic-status">Epistemic status</a>: {{ page.status }}
      </div>
      {% endif %}
    </header>

    {{ content }}

  {% if page.backlinks.size > 0 %}
    <hr />
  <h5>References</h5>
  <div class="backlink-container">
    {% for backlink in page.backlinks %}
    <div class="backlink-box">
      <a href="{{ backlink.url }}">{{ backlink.title }}</a>
      <p>{{ backlink.content | strip_html | regex_replace: '#.\s+(.*)', '' | markdownify | strip_html | truncatewords: 18 }}
      </p>
      </div>
    {% endfor %}
  </div>
  {% endif %}
{% include related-notes.html %}
</section>
</article>

{%- if site.show_notes_graph -%}
<section>
  <p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>
  {% include notes-graph.html %}
  </section>
{%- endif -%}
