---
layout: default
---

<article>
  <section>
    <header>
      <h6><a href="/#notes">Notes</a> / {{ page.title }}</h6>
      <p class="time">
      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}Updated {{
        page.last_modified_at | date: "%B %-d, %Y" }}{% endif %}</time>{% if page.category != null %} &ndash;
      {{page.category}}{% endif %}
      {% for tag in page.tags %}
      {% assign site_tag = site.tags | where: "slug", tag | first %}
      <a class="tag" href="/tags/{{ site_tag.slug }}">{{ site_tag.title }}</a>
      {% endfor %}
      </p>
      {%if page.status %}
      <div class="status">
        <a href="/epistemic-status">Epistemic status</a>: {{ page.status }}
      </div>
      {% endif %}
    </header>

    {{ content }}
{% include related-notes.html %}
    </section>

<aside>
  {% if page.backlinks.size > 0 %}
  <h5>Mentions</h5>
  <div class="backlink-container">
    {% for backlink in page.backlinks %}
    <div class="backlink-box">
      <a href="{{ backlink.url }}">{{ backlink.title }}</a>
      <p>{{ backlink.content | strip_html | regex_replace: '#.\s+(.*)', '' | markdownify | strip_html | truncatewords: 18 }}
      </p>
      </div>
    {% endfor %}
  </div>
  {% endif %}
</aside>
</article>

{%- if site.show_notes_graph -%}
<section>
  <p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>
  {% include notes-graph.html %}
  </section>
{%- endif -%}
